@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
}

/* Navigation bar */
.logo {
  width: 92px;
  height: 61px;
  border-radius: 50%;
}

.link-attr {
  font-size: 20px;
}

.link-success:hover {
  text-decoration: underline;
}

/* Home page */
.bike-img {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}

footer,
.push {
  margin-top: 50px;
  background-color: #ffc107;
  text-align: center;
  padding: 5px;
}

/* Table */
thead {
  background-color: #ffc107;
}

th {
  color: green !important;
}

/* Pagination */
.pagination > li {
  list-style: none;
}

.pagination > li > a,
.pagination > li:first-child > a,
.pagination > li:last-child > a {
  color: green;
  background-color: white;
  box-shadow: none;
}

.pagination > li.active > a {
  color: green;
  background-color: #ffc107;
  border-color: green;
  box-shadow: none;
}

.pagination > li > a:hover {
  color: green !important;
  background-color: #ffc107 !important;
  box-shadow: none;
}
